[Unit]
Description=EMOS Boot Mode Manager
After=network.target

[Service]
ExecStart=/home/spindle/emosconfiguratorv2/emos_boot_manager.sh
WorkingDirectory=/home/spindle/emosconfiguratorv2
Restart=always
User=spindle

[Install]
WantedBy=multi-user.target


[Service]
ExecStart=/home/spindle/emosconfiguratorv2/emos_boot_manager.sh
Restart=always

[Install]
WantedBy=multi-user.target
...


